*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  font-size: 16px;
  font-weight: 500;
}
/* #region ------ Add reset ---------------------------- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
a {
  text-decoration: none;
  color: currentColor;
}
.btn {
  cursor: pointer;
  font-family: inherit;
  color: currentColor;
  display: inline-flex;
  /* ------- */
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
input,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
  /* line-height: inherit; */
}
/* #endregion ------ Add reset ---------------------------- */
.container {
  margin: 0 auto;
  max-width: 1440px;
  width: 1158px;
  flex-shrink: 0;
  padding: 0 15px;
}

.container-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* #region ------ Top line - Navigation----------------- */
.header {
  display: flex;
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}
.navigation-logo-studio {
  color: #2e2f42;
  width: 71px;
}

.navigation-menu {
  display: flex;
  gap: 40px;
  list-style-type: none;
}
.navigation-menu-items {
  font-weight: 500;
  font-style: normal;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .item-studio:first-child  */
.item-studio:nth-child(1) {
  color: #404bbf;
}
.navigation-menu-items:hover,
.navigation-menu-items:focus {
  color: #404bbf;
}
.item-studio::after {
  position: absolute;
  width: 100%;
  height: 4px;
  content: "";
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  background-color: #404bbf;
}

.address {
  font-style: normal;
}
.address-items {
  display: flex;
  color: #434455;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  gap: 40px;
  list-style-type: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-items:hover,
.address-items:focus {
  color: #404bbf;
}
/* #endregion ------ Top line - Navigation----------------- */
/* #region ------ Solution ----------------------------- */
.solution {
  max-width: 1440px;
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
}
.solution-header {
  max-width: 496px;
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  margin-top: 0;
}
.order-service-button {
  background-color: #4d5ae5;
  color: #fff;
  padding: 16px 32px;
  min-width: 169px;
  /* height: 56px; */
  display: block;
  margin: 0 auto;
}
.order-service-button:hover,
.order-service-button:focus {
  background-color: #404bbf;
}
/* #endregion ------ Solution ----------------------------- */
/* #region ------ Advantages --------------------------- */
.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.advantages-list {
  display: flex;
  gap: 24px;
  padding: 0;
  list-style: none;
}
.advantages-items {
  width: calc((100% - 3 * 24px) / 4);
}
.container-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  margin-bottom: 8px;
}
.advantages-items-headers {
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 8px;
}
.advantages-items-p {
  max-width: 264px;
  color: #434455;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* #endregion ------ Advantages --------------------------- */
/* #region ------ Our Team ----------------------------- */
.our-team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.our-team-main-header {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.our-team-list {
  display: flex;
  gap: 24px;
  padding: 0;
  list-style: none;
}
.our-team-items {
  background-color: #fff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.our-team-member {
  padding: 32px 0;
}
.our-team-headers {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.our-team-p {
  color: #434455;
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
/* #endregion ------ Our Team ----------------------------- */
/* #region ------ Social media (Our Team) -------------- */
.socials-ul-team {
  display: flex;
  list-style-type: none;
  gap: 24px;
  justify-content: center;
}
.socials-li-team {
  width: 40px;
  height: 40px;
}
.socials-a-team {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-a-team:hover,
.socials-a-team:focus {
  background-color: #404bbf;
}
.socials-svg-team {
  fill: #f4f4fd;
}
/* #endregion ------ Social media (Our Team) -------------- */
/* #region ------ Porfolio ----------------------------- */
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-main-header {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  list-style-type: none;
}
.portfolio-items {
  width: calc((100% - 2 * 24px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-items:hover,
.portfolio-items:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-img {
  position: relative;
  overflow: hidden;
}
.portfolio-p-hidden {
  position: absolute;
  top: 0;
  color: #f4f4fd;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-items:hover .portfolio-p-hidden {
  transform: translateY(0%);
}
.portfolio-items-id {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-items-headers {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin-bottom: 8px;
}
.portfolio-items-p {
  color: #434455;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}
/* #endregion ------ Porfolio ----------------------------- */
/* #region ------ Footer ------------------------------- */
.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-container {
  display: flex;
  /* margin: 0 auto; */
  max-width: 1440px;
  width: 1158px;
  flex-shrink: 0;
  padding: 0 15px;
  align-items: baseline;
}
.container-webstudio {
  margin-right: 120px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-studio {
  color: #f4f4fd;
}
.footer-p {
  max-width: 264px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
/* #endregion ------ Footer ------------------------------- */
/* #region ------ Social media (Footer)----------------- */
.social-container {
  margin-right: 80px;
}
.socials-ul {
  display: flex;
  list-style-type: none;
  gap: 16px;
}
.socials-li {
  width: 40px;
  height: 40px;
}
.socials-a {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-a:hover,
.socials-a:focus {
  background-color: #31d0aa;
}
.socials-svg {
  fill: #f4f4fd;
  width: 24px;
  height: 24px;
}
/* #endregion ------ Social media (Footer)----------------- */
/* #region ------ Subscribe -----------------------------*/
.subscribe-container {
  min-width: 453px;
}
.subscribe-p {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.subscribe-forma {
  display: flex;
  gap: 24px;
}
.subscribe-label {
  color: #fff;
}
::placeholder {
  color: #ffffff;
}
.subscribe-input {
  width: 264px;
  height: 40px;
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: #fff;
  border-radius: 4px;
  font-weight: 400;
}

.subscribe-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.subscribe-svg {
  margin-left: 16px;
  fill: #fff;
}
/* #endregion ------ Subscribe -----------------------------*/
/* #region ------ Order service ------------------------ */

.backdrop {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
}
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  border: 1px solid #212121;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  border-radius: 4px;
  max-width: 408px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.form-btn-close {
  width: 24px;
  height: 24px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}
.form-btn-close:hover {
  background-color: #404bbf;
}
.form-close-svg {
  fill: #2e2f42;
}
.form-btn-close:hover .form-close-svg {
  fill: #fff;
}
.form-span {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  display: block;
}
.form-name-div {
  position: relative;
}
.form-name-svg {
  position: absolute;
  top: 11px;
  left: 16px;
}
.form-phone-div {
  position: relative;
}
.form-phone-svg {
  position: absolute;
  top: 11px;
  left: 16px;
}
.form-email-div {
  position: relative;
}
.form-email-svg {
  position: absolute;
  top: 11px;
  left: 16px;
}

/* -------------------------------- */

.form-label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.form-input {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}
.form-textarea {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 120px;
  resize: none;
}
.form-accept {
  display: flex;
  gap: 8px;
  align-items: center;
}
.form-svg-accept {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: #f4f4fd;
}
.form-svg-accept:hover,
.form-svg-accept:focus,
.form-svg-accept:active {
  border-color: #404bbf;
  fill: #404bbf;
}
.form-p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.form-p-policy {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.form-button {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
}
.form-button:hover,
.form-button:focus {
  background-color: #404bbf;
}
/* #endregion ------ Order service ------------------------ */
